REDMINE_DB_POSTGRES={{ postgres_host }}
REDMINE_DB_DATABASE={{ postgres_db }}
REDMINE_DB_USERNAME={{ postgres_user }}
REDMINE_DB_PASSWORD={{ postgres_password }}
REDMINE_SECRET_KEY_BASE={{ redmine_secret_key_base }}